body {
    margin: 0px;
    width: 100vw;
    background-color: lightpink;
}

.app-page-one {
    height: 110vh;
    display: grid;
    grid-template-rows: 1fr 2fr;
    grid-template-columns: 1fr 1fr;


    background-color: lightpink;
    font-size: 100%;
    line-height: 1.5;
    font-family: 'Bungee Spice', cursive;
    color: rgba(34, 4, 4, 0.7);
    height: 100vh;
    width: 100vw;

}

.heading {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 3;
    justify-self: center;
}

.app-login-own {
    justify-self: center;
    grid-row-start: 2;
    height:80vh;
    width: 30vw;
    background-color: bisque;
    border-radius: 10%;
    box-shadow: rgba(240, 147, 208, 0.35) 0px 5px 15px;
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 5%;
}

.app-login-own:hover {
    animation: app-animation 4s ease-in-out infinite;

}

.app-login-own > div {
    display: flex;
    justify-content: center;
    margin: 5vh;

}



label,input {
    width: 90%;
    border-radius: 20%;
    background-color: transparent; 
}


.right-side {
    display: grid;
    grid-column-start: 2;
    grid-row-start: 2;
    grid-template-rows: 2fr 1fr;
    justify-items: center;
    align-items: center;

}

.card-own {
    
    height: 50%;
    width: 50%;
    
    background-color: bisque;
    border-radius: 50%;
}

.card-own:hover{
    animation: flipboard 2s infinite;
}
.card-own {
    display: flex;
    justify-content: center;
    align-items: center;
}
.card-own:hover span {
    display: none;
}
.card-own:hover::after {
    content: "You are mysterious🎇";
}

.download-section {
    display: flex;
    justify-content: space-around;
    grid-row-start: 2;
    width: 60%;
    height: 40%;
}

.download-img {
    width: 100%;
    height: 80%;
    border-radius: 20%;
}

.app-page-two {
    background-color: lightpink;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 110vh;
}

.carousel {
    width: 80vw;
    height: auto;
}

.carousel > .carousel-inner > .carousel-item > img {
    height: 80vh;
    width: auto;
    
}

.app-page-three {
    height: 100vh;
    width: 100vw;
    background-color: lightpink;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    

}

.offer {
    height: 40vh;
    width: auto;
    align-self: center;
    display: flex;
    gap: 10vw;
}

.footer {
    align-self: flex-end;
    justify-self: center;
    display:inline-block;
    height: 5vh;
    width: 80vw;   
    border-top: 2px solid lightcoral;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


@keyframes app-animation {
    25% {
        opacity: 0.25;
        box-shadow: rgba(133, 186, 205, 0.35) 0px 54px 55px, rgba(133, 186, 205, 0.35) 0px -12px 30px, rgba(133, 186, 205, 0.35) 0px 4px 6px, rgba(133, 186, 205, 0.35) 0px 12px 13px, rgba(133, 186, 205, 0.35) 0px -3px 5px;
    }
    50% {
        opacity: 0.5;
        box-shadow: rgba(88, 177, 209, 0.35) 0px 54px 55px, rgba(88, 177, 209, 0.35) 0px -12px 30px, rgba(88, 177, 209, 0.35) 0px 4px 6px, rgba(88, 177, 209, 0.35) 0px 12px 13px, rgba(88, 177, 209, 0.35) 0px -3px 5px;
    }
    75% {
        opacity: 0.75;
        box-shadow: rgba(55, 170, 212, 0.35) 0px 54px 55px, rgba(55, 170, 212, 0.35) 0px -12px 30px, rgba(55, 170, 212, 0.35) 0px 4px 6px, rgba(55, 170, 212, 0.35) 0px 12px 13px, rgba(55, 170, 212, 0.35) 0px -3px 5px;
    }
    100% {
        opacity: 0.75;
        box-shadow: rgba(12, 179, 240, 0.35) 0px 54px 55px, rgba(12, 179, 240, 0.35) 0px -12px 30px, rgba(12, 179, 240, 0.35) 0px 4px 6px, rgba(12, 179, 240, 0.35) 0px 12px 13px, rgba(12, 179, 240, 0.35) 0px -3px 5px;
    }
}

@keyframes flipboard {
    50% {
        transform: rotate(180deg);
        box-shadow: rgba(207, 226, 82, 0.708) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;

    }
    100% {
        transform:rotate(360deg);
        box-shadow: rgba(15, 215, 162, 0.692) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
        content: "Register now🎇";
    }

}