.parent {
    padding: 5px;
    background-color:cornflowerblue;
    height: 150vh;
    position: relative;
}

.child-one {
    background-color: greenyellow;
    position: fixed;
    bottom: 0;
    left: 4;
}

.child-two {
    background-color:coral;
    position: absolute;
    right: 0;
    bottom: 0;
}

.child-three {
    background-color:fuchsia;
    width: 90%;
    position: sticky;
    top: 0;
    left: 0;
}

.child {
    padding: 5px;
}

.modal {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    width: 100px;
    background-color: white;
    text-align: center;
    position: fixed;
    z-index: 10;
    left: calc(50% - 50px);
    top: calc(50% - 9.2px);
}
