body {
    font-family: sans-serif;
}

.rezeptkarte-kpl {
    position: relative;
    width: 400px;
    height: 600px;
    margin: auto;
}

.rezept {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#dcf6fa, #c9bf6c60);
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
    text-align: center;
    padding: 1rem;
    /* border: 1px solid gray; */
    box-shadow: 0 0 5px black;
    border-radius: 10px;
}

h1 {
    padding: 1rem;
    margin: 1rem 2rem;
    /* text-decoration: underline; */
    border-bottom: 1px solid rgb(184, 183, 183);
}

ul {
    padding: 0;
}

li {
    list-style: none;
    padding: 0;
    margin: 0;
}

.getränk {
    /* border: 1px solid gray; */
    border-radius: 5px;
    box-shadow: 0 0 3px black;
}

a {
    text-decoration: none;
    color: black;
    /* font-weight: bold; */
    border-bottom: 1px solid rgb(184, 183, 183);
    display: inline-block;
    margin-top: 1rem;

    &:hover  {
        text-shadow: 0 0 1px rgba(63, 63, 63, 0.705);
    }
}

.bubble {
    height: 20px;
    width: 20px;
    position: absolute;
}

.bubble-1 {
    left: 15%;
    bottom: 90%;
}

.bubble-2 {
    left: 90%;
    bottom: 0%;
}

.bubble-3 {
    left: 95%;
    bottom: 75%;
}

.bubble-4 {
    left: 75.5%;
    bottom: 25%;
}

.bubble-5 {
    left: 35%;
    bottom: 65%;
}

.bubble-6 {
    left: 10%;
    bottom: 35%;
}