/* Aufgabe 1.1 */
.first-heading {
  color: lightcoral;
}

.first-heading-span {
  color: green;
}

.first-heading-span2 {
  color: blue;
}

/* Aufgabe 1.2 */
.second-heading {
  width: 10vw;
  background-image:linear-gradient(90deg,blue,yellow,red,purple);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* Aufgabe 1.3 */
.paragraph-one::first-letter,.paragraph-two::first-letter {
  font-size: 200%;
}

/* Aufgabe 1.4 */
.paragraph-two::after {
  content:'';
  display: block;
  height: 10px;
  background-color: red;
}